.estimate_buttons {
  display: grid;
  grid-template-columns: repeat(6, minmax(3rem, 1fr));
  column-gap: 10px;
}

.estimate_buttons form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.estimate_buttons input[type="submit"] {
  width: 100%;
}

