<h1>Players</h1>
<style>
.point-area {
  width: 5rem;
}
.open_point~#players > .point-area > .point {
  opacity: 1;
}
.hide_point~#players > .point-area {
  background-color: black;
}
.hide_point~#players > .point-area > .point {
  opacity: 0;
}
</style>
<div data-controller="reset" data-reset-property-value="innerHTML" data-reset-reset-value="">
  <%= render :partial => 'point_statuses/point_status', locals: { point_status: point_status } %>
  <div id="players">
    <% players.each do |player| %>
      <%= render player %>
    <% end %>
  </div>
</div>
