<div data-controller="reset" data-reset-property-value="innerHTML" data-reset-reset-value="">
  <%= render point_status %>
  <div id="players">
    <% players.each do |player| %>
      <%= content_tag :div, class: { myself: myself.id == player.id } do %>
        <%= render player %>
      <% end %>
    <% end %>
  </div>
</div>
