<div id="<%= dom_id player %>">
  <strong>Name:</strong>
  <%= player.name %>
</div>
<div class="point-area">
  <div id="<%= "#{player.id}_estimate" %>" class="point" data-reset-target="point">
    <%= player.estimates&.first&.point %>
  </div>
</div>
